<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HomePage</title>
</head>
<body>
	<h3>Enter user name and password:</h3>
	<form th:action="@{/login}" method='POST'>
	    <table>
	        <tr>
	            <td>User:</td>
	            <td><input type='text' name='username' value=''></td>
	        </tr>
	        <tr>
	            <td>Password:</td>
	            <td><input type='password' name='password' /></td>
	        </tr>
	        <tr>
	            <td><input name="submit" type="submit" value="submit" /></td>
	        </tr>
	    </table>
	</form>
	<div th:if="${msg != null}"><h4 th:text="${msg}"></h4></div>
	
</body>
</html>